.sign-in-form-mobile {
  height: calc(100vh - 122px);
  .sign-up-form {
    margin: 0 20px;
    height: -webkit-fill-available;
    .ant-form {
      height: calc(100vh - 215px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
