.ant-card-body {
  font-family: var(--tech-font);
  font-size: 14px;
  font-weight: 600;
  text-align-last: auto;
}
.ant-card {
  margin-top: 10px;
}

.logo,
.sub-title-card {
  text-align-last: center;
}
